.case{"data-case-id": caze.id, class: caze.css_class }
  %h3
    %a{href: path(:backend_polygram_show, id: caze.id)} ↳
    = caze.title
    %small
      by
      %strong #{caze.user.name}  

  .checkbox
    .files-attached
      = caze.media.size
      attachment(s)

  - if complete
    %hr


  - caze.media.each do |cm|
    %video{ controls: true, muted: true, src: cm.url, style: "display: #{complete ? 'block' : 'none'}" }

