.videobox

  .playspeed
    %label.playspeed
      Speed
      %input#playspeed{:max => "2.0", :min => "0.1", :step => "0.05", :type => "range", :value => "1.0"}/
      %span#playspeed-value 1.00

  #video-is-at-timestamp
  %video#annotation-video{ controls: true, muted: true, src: media.url }


.timeline-line
  #timeline.timeline
