%h2= t.be.topics.polygram.index

.backend-listing.polygram-cases
  - pager.each do |caze|
    .backend-list-entry.polygram-entry
      = render "case", caze: caze, complete: false, menu: false

= pager.navigation
