%h2= t.be.topics.polygram.observe

#case-observation
  = render "video", caze: caze, media: media
  = render "media-form", caze: caze, action: path(:backend_polygram_observe, id: caze.id, mid: media.id), text: text

