%h2= t.be.topics.polygram.read

#case-reading
  = render "video", caze: caze, media: media
  = render "media_form", caze: caze, action: path(:backend_polygram_read, id: caze.id, mid: media.id), text: text
