.backend-content
  %h2
    Using image download client implementation


  %pre#climgdl-content= content
  #climgdl-client{"data-create-url": path(:backend_tumblog_upload), "data-csrf-token": _context.csrf_token}

