.backend-content
  %h2
    Circumventing Reddits subnet blocking...


  %pre#clytdlp-content= content
  #clytdlp-client{"data-create-url": path(:backend_tumblog_upload), "data-csrf-token": _context.csrf_token}
