#BE-form.snippets
  %form{method: :post, action: action}
    .container
      .columns
        .column.col-xl-6.col-md-12
          .form-group
            .input-group
              %span.input-group-addon= t.form.ident
              %input.form-input{name: :ident, value: (snippet && snippet.ident), disabled: (snippet ? true : false)}
        .column.col-xl-6.col-md-12
          = t.be.help.snippet.ident

        .column.col-xl-6.col-md-12
          %select.form-select.cm-mode{type: :select, name: :extension, disabled: (snippet ? true : false)}
            - [:haml, :markdown].each do |option|
              %option{value: option, selected: (snippet && snippet.kind == option or (option == :haml)) ? true : false}= t.form.send(option)


        .column.col-12.mtop
          .form-group
            %textarea#snippet-form.form-input.cm-form{noauto: true, name: :content, "data-codemirror-mode": (snippet && snippet.content_type || "text/x-haml")}= (snippet && snippet.content)

        .column.col-12.text-center.mtop
          %input.btn.btn-primary{type: :submit, value: t.form.submit}
