.snippet-preview{class: snippet.css_class}
  .backend-list-controls.floating
    = render "controls", snippet: snippet
  .backend-list-head
    %a{href: path(:backend_snippets_show, slug: snippet.slug)}
      %strong= snippet.ident
  .backend-list-kind
    = snippet.kind
  .backend-list-content.preview
    %code= CGI.escapeHTML(snippet.content)
