%h2= t.be.topics.snippets.show

.backend-listing
  - pager.each do |ele|
    .backend-list-entry
      = render "preview", snippet: ele

      - if ele.page?
        - if not ele.children.empty?
          .backend-list-list-entry
            - ele.children.each do |child_ele|
              = render "preview", snippet: child_ele
= pager.navigation
