%h2
  Snippet Edit
  %small
    %code
      %a{href: path(:backend_snippet_show, slug: snippet.slug)}
        = snippet.ident

      



.backend-page
  = render "form", snippet: snippet, action: path(:backend_snippet_edit, slug: snippet.slug)
