!!!
%html{:lang => "en"}<
  %head<
    = meta.with_social_media.to_head

    %link{ href: url_with_calculated_version_hash("/assets/favicon.ico"), rel: "shortcut icon", type: "image/x-icon" }
    - if Hanami.env?(:production)
      %link{href: url_with_calculated_version_hash("/assets/screen-be.css"), rel: 'stylesheet', type: 'text/css'}

  %body#body-backend<
    .backend-block

      = render "shared/menu"
      = render "submenu" rescue nil
      .backend-content
        = yield

  %script{:src => url_with_calculated_version_hash("/assets/bundle-be.js")}
