!!!
%html{:lang => "en"}<
  %head<
    %meta{charset: "utf-8"}
    - title = "clean"
    %title= title
    %meta{name: "title", content: "#{title}"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{ href: url_with_calculated_version_hash("/assets/favicon.ico"), rel: "shortcut icon", type: "image/x-icon" }

  %body#body-clean>
    = yield
