.zettel-preview
  .backend-list-controls.floating
    = render "controls", sheet: sheet
  .backend-list-head.zettel-ident
    = nlink(path(:backend_zettel_show, id: sheet.id), sheet.title)
  
  .backend-list-additional
    .zettel-refs
      - sheet.references.resolve.each do |sr|
        = nlink(path(:backend_zettel_show, id: sr.id), sr.title)
  
