%form.zettel-add-form.form-horizontal{:action => path(:backend_zettel_upload, id: sheet.id, goto: current_uri), :method => :post, :enctype => 'multipart/form-data'}
  .container
    .columns
      .column.col-12
        .form-group
          .col-2
            %label.form-label{:for => :file}= t.form.upload
          .col-7
            %input.form-input{:type => :file, :name => "files[]"}
          .col-1
          .col-2
            %input.form-input.btn{:type => :submit}
