.login-form
  %form{:method => :post, :action => path(:backend_user_login)}
    %input.form-input{value: "Michael Trommer", name: :name}
    %input.form-input{value: "moep187", type: :password, name: "password"}
    %input.btn.btn-primary.mtop{:type => :submit, :value => "Absenden"}

