.backend-list-entry
  .backend-list-head
    = nlink(rpath(:backend_user_show, id: usr.id), usr.name)
    = nlink(rpath(:backend_user_edit,  id: usr.id), t.be.links.user.edit)

  .backend-list-content
    = usr.email
