%h2
  = t.be.topics.booking.show
  %small
    Edit
    = nlink(path(:backend_booking_event_edit, slug: event.slug), event.title)

.backend-listing.events-listing.full
  .backend-list-entry
    = render "event_preview",  event: event

