%h2
  = t.be.topics.booking.edit
  %small
    = nlink(path(:backend_booking_event_show, slug: event.slug), event.title)

.backend-listing.events-listing.full
  .backend-list-entry
    = render "event_preview",  event: event

