!!!
%html{:lang => "en"}<
  %head<
    = meta.to_head

    %link{ href: url_with_calculated_version_hash("/assets/favicon.ico"), rel: "shortcut icon", type: "image/x-icon" }
    - env?(:production) do
      %link{ href: url_with_calculated_version_hash("/assets/screen-app.css"), rel: "stylesheet", type: "text/css" }

  %body#body-app<
    = yield

  %script{:src => url_with_calculated_version_hash("/assets/bundle-app.js")}
