.module-menu.main-module-menu
  %ul
    %li= nlink(:index, t.be.menu.frontend)
    %li= nlink(:backend_user_index, t.be.menu.user)
    %li= nlink(:backend_snippets_index, t.be.menu.snippets)

    %li= nlink(:backend_booking_index, t.be.menu.booking)
