%h1= t.be.topics.entroment.edit

- if entry
  .backend-content.entroment
    .topline
      = render "controls", entry: entry

.backend-page
  = render "form", action: path(:backend_entroment_edit, id: entry.id), entry: entry

%hr
.backend-content.tumblog
  %article.entroment-content
    = entry.to_html
